###### Requirements without Version Specifiers ######`
numpy
scipy
sympy
scikit-learn
cython
beautifulsoup4
selenium
pandas
networkx
black
pyls-mypy
seaborn
future
matplotlib

enum34
funcsigs
llvmlite
numba
opencv-python
opencv-contrib-python

jupyterlab
jupyterlab-git
jupyterlab-lsp
#python-language-server
lckr-jupyterlab-variableinspector
jupyter-contrib-nbextensions
ipywidgets
jupyter-lsp
python-language-server[all]
#mglearn

jupyterlab_github
plotly
#jupyterlab_latex